@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=PT+Serif&family=Vollkorn:ital,wght@1,700&display=swap');
body {
    margin: 0 auto;
    max-width: 1600px;
    text-align: center;
    background-color: #fcfbfb;
    font-family: PT-Serif, Bitter, volkorn;
    font-size: 22px;
    margin: 0;
    padding: 0;
}
  background {
    height: 725px;
}
header {
    background-color:rgba(20,30,13, .7);
    text-align: left;
    display: grid;
    grid-template-columns: 150px auto;
}
nav a:hover {
    background-color: black;
    color: #d9c2a3;
    text-align: center;
}    
.icon {
    width: 80px;
    padding-top: 10px;
}
nav a {
    text-align: center;
    color: #f7f2f2;
    text-decoration: none;
    padding: 35px;
    display: flex;
    justify-content: space-around;
}  
.book, .sign_up {
background-color:rgba(13, 14, 30, 0.7);
padding: 15px 30px;
margin-top: 50px;
border-radius: 5px;
color: rgb(243, 241, 241)
}
.book:hover, .sign_up:hover{
    background-color:rgba(195, 238, 116, 0.7);
    text-align: center;
}

.msg{
    text-align: center;
    background-color: #141414;
    line-height: 1.5em;
    padding: 35px;
    color: white;
}
footer{
    background-color: #6f7364;
    padding: 25px 50px;
    margin-top: 200px; 
    display: flex;
    justify-content: space-around;
    align-items: center;
}
h2 {
  text-align: center;
  font-family: Vollkorn, Bitter, PT_Serif;
  margin: 0;
}
footer p {
    font-size: 1.2em;
}    
footer p a:hover {
    text-decoration: none;
}    
header {
    background-color:rgba(20,30,13, .7);  
}
hero-msg h1, hero-msg h4{
    text-decoration: none;
}    
.button-box{
    text-decoration: none;
}    
main section{
    text-decoration: none;
}    
.home-title {
    font-family: Bitter, PT-serif, Vollkorn;
    font-size: 2em;
    margin-top: 10px;
}
.msg p { 
    font-size: .8em;
    padding-bottom: 15px;
    margin: 0;
}
#logo_link{   
    padding-top: 5px;
    padding-top: 5px;
    justify-self: center;
    align-self: center;
}
  footer .social img{
    padding-top: 15px;
}
  .virtual-card, .makeshift-card, .market-card {  
    margin: 200px 0;
}
  .card-img {
    border: 10px solid #ac6464;
}
main section img {
    box-sizing: border-box;
}
h1, h4{
    margin: 10px;
    color:rgba(104, 241, 7, 0.7)
    
}
#hero {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    margin-top: -100px;
    
}
#hero-box {
    grid-column: 1/4;
    grid-row: 1/3;
    z-index: -1;
}
#hero-msg h4 {
    color: rgb(61, 11, 243);
}
#hero-msg {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-top: 1050px;
}
.card-img, .physical {
    width: 100%;
    grid-column: 2/7;
    grid-row: 5/8;
    box-shadow: 5px 5px 10px #6f7364;
}
.virtual-card {
grid-column: 2/4;
grid-row: 2/3;
}
.makeshift-card {
    grid-column: 5/7;
    grid-row: 2/3;
}
.market-card {
    grid-column: 8/10;
    grid-row: 2/3;
}
.msg{
    background-color: #6f7364;
    padding: 35px;
    grid-column: 6/10;
    grid-row: 6/7;
    box-shadow: 5px 5px 10px #6f7364;
}
#background{
    grid-column: 1/11;
    grid-row:4/9;

}
.card-img {
    border: 10px solid #d9c2a3;
    transition: transform .5s;
    box-shadow: 5px 5px 10px #6f7364;
}
.card-img:hover {
    opacity: .6;
    transform: scale(1.1);
}

@media screen and (max-width: 900px) {
    #hero, .home-grid {
        display: block;
        height: auto;
    }
    nav, footer {
        flex-direction: column;
    }
    nav a {
        display: block;
        padding: 15px;
    }
    #hero {
        margin-top: 0;
    }
    #hero-msg {
        margin-top: 0;
    }
    #hero-msg h4 {
        display: none;
    }
    .home-title {
        font-size: 25px;
        color: #6f7364;
    }
    .virtual-card, .makeshift-card, .market-card { 
        margin: 50px auto;
        width: 60%;
    }
    #background {
        display: none;
    }
    .physical, .msg {
        width: 80%;
        display: block;
        margin: 0 auto;
    }
    footer {
        margin-top: 25px;
    }
}